<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="main">
        <p class="sign" align="center">Sign Up</p>
        <form class="form1" method="post" action=".">
        	{% csrf_token %}
            {% for field in form %}
            {{ field.errors }}
            {{ field }}
            {% endfor %}
            <button type="submit" class="submit" align="center">Sign Up</button>
            <p class="forgot" align="center">
                <a href="{% url 'account:login' %}">Already have an Account?</a>
            </p>
        </form>
    </div>
</body>

</html>